+view("adventures")
  .page.page-visible(data-bind='css: { "page-visible": page() === "home" }')
    .cover(style='background-image: url(#{views.adventures.cover})')
      .cover-overlay
        .cover-overlay-content
          h1.cover__title= views.adventures.title
          h2.cover__subtitle= views.adventures.subtitle

    .view-header.is-separator
      blockquote= views.adventures.content

    .view-content
      .row
        each activity, key in views.adventures.activities
          .adventures
            .adventure
              .adventure-image
                a(href='#!/adventures/#{activity.id}')
                  img(src='#{activity.thumbnail}')
              .adventure-description
                a.adventure-title(href='#!/adventures/#{activity.id}')
                  h4
                    span #{activity.title} (#{activity.duration})

                a(href='#!/adventures/#{activity.id}')
                  !=markdown(activity.subtitle)

  .page.page-visible(data-bind='css: { "page-visible": page() !== "home" }, with: content')
    // ko with: activities[$parent.page()]

    .cover(data-bind='style: { backgroundImage: "url(" + cover + ")"}')
      .cover-overlay
        .cover-overlay-content
          h1.cover__title(data-bind='text: title')
          h2.cover__subtitle(data-bind='text: subtitle')
    .view-header.is-separator
      .row
        .view-nav
          a.btn(href='#!/adventures', data-bind='text: backButton')
    .view-content
      .row
        .markdown(data-bind='markdown: content')
    // /ko

