+view("renting")
  .page.page-visible(data-bind='with: content')
    .cover(style='background-image: url(#{views.renting.cover})')
      .cover-overlay
        .cover-overlay-content
          h1(data-bind='text: title')


    .view-header.is-separator
      .view-nav
        each category in products
          a.btn(href='#!/renting/#{category.id}')= category.title

    .view-content
      each category in products
        .rental-products(id="renting-#{category.id}")
          .products-intro
            .products-info
              img(src='#{category.thumbnail}')
              h2.products-title= category.title
              if category.description
                .products-description
                  !=markdown(category.description)

          each item in category.items
            .product-card
              if item.image
                a.product-card__image(
                  href='#{item.image}',
                  target='_blank'
                  style='background-image: url(#{item.thumbnail})'
                )
              else
                .product-card__image(style='background-image: url(#{item.thumbnail})')
              .product-card__info
                .product-card__title= item.title
                if item.description
                  .product-card__description= item.description

                .product-card__price
                  if item.pricePerDay
                    span #{item.pricePerDay} / Day
                    br
                  if item.pricePerWeek
                    span #{item.pricePerWeek} / Week

                  if item.customPrice
                    span= item.customPrice

      .other-gear
        h2.products-title Other gear
        a(href='#!/contacts') Ask for an offer.
