+view("renting")
  .page.page-visible(data-bind='with: content')
    .cover(style='background-image: url(#{views.renting.cover})')
      .cover-overlay
        .cover-overlay-content
          h1(data-bind='text: title')

    .view-header
      .row
        .view-nav
          each category in products
            a.btn(href='#!/renting/#{category.id}')= category.title

    .view-content
      each category in products
        .rental-products(id="renting-#{category.id}")
          .products-intro
            .products-image
              img(src='#{category.thumbnail}')
            .products-info
              h2.products-title= category.title
              if category.description
                .products-description
                  !=markdown(category.description)

          table.products-table
            tbody
              each item in category.items
                tr.product
                  td
                    !=markdown(item.title)
                  td.product__description
                    if item.description
                      div
                        !=markdown(item.description)

                  td.product__price
                    if item.pricePerDay
                      span #{item.pricePerDay} / Day
                      br
                    if item.pricePerWeek
                      span #{item.pricePerWeek} / Week
                      br

                    if item.customPrice
                      span= item.customPrice

      .rental-products
        .products-intro
          .products-info
            h2.products-title Other
            .products-description
              a(href='#!/contacts') Ask for an offer.
