+view("summer")
  .page.page-visible(data-bind='css: { "page-visible": page() === "home" }')

    // ko with: content
    .cover(style='background-image: url(#{views.summer.cover})')
      .cover-overlay
        .cover-overlay-content
          h1.cover__title= views.summer.title
          h2.cover__subtitle= views.summer.subtitle
    .view-content
      .row
        blockquote= views.summer.content

      .grid
        - var groups = toGrid(views.summer.activities).reverse();

        each group in groups
          .grid-row
            each item, key in group
              a.grid-item(
                href='#!/summer/#{item.activity.id}',
                data-bind='css: { "previous-grid-item": $parents[0].previousActivity() === "#{item.activity.id}" }')
                .grid-item-content(style='background-image: url(#{item.activity.thumbnail})')
                  .overlay
                    .overlay-content
                      .overlay-text= item.activity.title

    // /ko
  .page.page-visible(data-bind='with: content, css: { "page-visible": page() === "activity" }')
    div(data-bind='with: activities[$parent.activity()]')
      .cover(data-bind='style: { backgroundImage: "url(" + cover + ")"}')

        .cover-overlay
          .cover-overlay-content
            h1.cover__title(data-bind='text: title')
            h2.cover__subtitle(data-bind='text: subtitle')

      .view-header
        .row
          .view-nav
            a.btn(href='#!/summer', data-bind='text: backButton')

      .view-content
        .row.markdown(data-bind='markdown: content')
